@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

* {
  font-family: 'Hubballi', cursive;
}
.container-fluid{
  height: 50rem; 
}

.liner-gradient{
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}
.liner-gradient2 {
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.home-section {
  transform: translateY(50%);
}

.card-link:visited {
  color: #FFF;
}
